div {text-align: center; color: white; background-color: DarkBlue;}
strong {color: yellow;}
h3 {background-color: orange}
li {color: blue;}
span {color: green;font-weight: bold;}
a {font-style: italic;}
